@import "./resets";
@import "./variables";
@import "./mixins";
@import "./media";

//----------------------------------
//----------------------------------
//----------------------------------

.title {
  height: 1000px;
  width: auto;

  &__heading {
    color: rgb(58, 51, 51);
    margin: 280px 0 0 30px;
    @include accent-text;
  }

  &__heading:hover {
    font-size: 7rem;
  }

  &__paragraph {
    @include simple-text;
    margin: 30px;
  }

  &__navbar {
    display: flex;
    align-items: center;
  }
  
  &__navbar-brand {
    text-decoration: none !important;
    border-bottom: 1px solid white;
    color: white !important;
    font-size: 48px;
    font-family: $titillium;
    font-weight: 300;
    letter-spacing: 23px !important;
    margin: 30px 0 0 30px;
  }
  
  
  &__navbar-nav {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    padding: 0;
  }
}

.title-section-image {
  width: auto;
  background: url("../files/pexels-pixabay-247431.jpg") no-repeat center/cover;
  background-color: #16242D;
}


h2 {
  @include simple-text;
}

nav li {
  float: right;
}

li a {
  text-decoration: none !important;
  text-align: center;
  font-size: 24px;
  font-family: $roboto;
  font-weight: 300;
  padding: 0 30px;
  color: white !important;
  letter-spacing: 0.2em !important;
}

li a:hover {
  background-color: #9b9b9b;
}

//----------------------------------
//----------------------------------
//----------------------------------

.test-section {
  background-color: $main-color;
}

.grid {
  display: grid;
  column-gap: 30px;
  justify-items: center;
  align-items: center;

  &__img {
    width: 90%;
  }

  &__paragraph {
    @include simple-text;
    margin: 30px;
  }
}

//----------------------------------
//----------------------------------
//----------------------------------

.main-content {
  background-color: $main-color;
}

.flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;

  &__svg {
    text-align: center;
    padding-top: 35px;
    flex: 0 0 auto;
    width: 30%;

    &-footer {
      width: 35%;
    }

    &-spacing {
      margin: 5px 40px;
    }
  }

  &__paragraph {
    @include simple-text;
    flex: 0 0 auto;
    margin: 30px;

    &-footer {
      margin: 5px;
    }

    &--left {
      text-align: left;
    }
  }

  &__img {
    margin: 30px;
  }
}

//----------------------------------
//----------------------------------
//----------------------------------

@keyframes first-quote {
  0% {
    left: 0;
  }

  100% {
    left: 10%;
  }
}

@keyframes second-quote {
  0% {
    right: 0;
    top: 50px;
  }

  100% {
    right: 10%;
    top: 150px;
  }
}

.animation-section {
  position: relative;
  height: 350px;
  width: auto;
  background: url("../files/image3.png") no-repeat center/cover;

  &__quote1 {
    @include simple-text;
    width: 50vw;
    margin: 30px;
    position: absolute;
  }

  .is-visible {
    &--1 {
      animation-name: first-quote;
      animation-duration: 3s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
      animation-direction: alternate;
      animation-delay: 0s;
      animation-fill-mode: forwards;
    }

    &--2 {
      animation: second-quote 3s ease 1 alternate 0s forwards;
    }

  }

  &__quote2 {
    @extend .animation-section__quote1;
  }

}


//----------------------------------
//----------------------------------
//----------------------------------

.footer-section {
  position: relative;
  height: auto;
  width: auto;
  background-color: $main-color;
  text-align: left;

  &__heading {
    @include simple-text;
    font-family: $titillium;
    font-weight: 200;
    font-size: 35px;
    margin: 5px;
  }

  &__svg1 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: inherit;
  }

  &__svg2 {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25%;
  }

}